
*$py.class
build/
# Cache et fichiers compilés Python
devctl.egg-info/
dist/
# Dossier pycharm
*.egg-info/
.env
env/
# Environnements virtuels Python
# Fichiers de build Typer / Setuptools
.idea/devctl.egg-info/
__pycache__/
*.py[cod]
venv/
