# Environnements virtuels Python
venv/
env/
.env

# Cache et fichiers compilés Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de build Typer / Setuptools
build/
dist/
*.egg-info/

# Dossier pycharm
.idea/