package {{ base_package }}.mapper;

import {{ base_package }}.entity.{{ class_name }};
import {{ base_package }}.dto.request.{{ entity_name }}Request;
import {{ base_package }}.dto.response.{{ entity_name }}Response;
import org.mapstruct.Mapper;
import org.mapstruct.MappingTarget;
import org.mapstruct.ReportingPolicy;

/**
 * Mapper interface for converting between {{ entity_name }} Entity and DTOs.
 */
@Mapper(componentModel = "spring", unmappedTargetPolicy = ReportingPolicy.IGNORE)
public interface {{ entity_name }}Mapper {

    /**
     * Converts a {{ class_name }} entity to a {{ entity_name }}Response DTO.
     */
    {{ entity_name }}Response toResponse({{ class_name }} entity);

    /**
     * Converts a {{ entity_name }}Request DTO to a {{ class_name }} entity.
     */
    {{ class_name }} toEntity({{ entity_name }}Request request);

    /**
     * Updates an existing {{ class_name }} entity from a {{ entity_name }}Request DTO.
     */
    void updateEntityFromRequest({{ entity_name }}Request request, @MappingTarget {{ class_name }} entity);
}